*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

html {
  font-size: 16px;
}

body {
  background-color: #fafafa;
  font: 16px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: rgba(0, 0, 0, 0.9);

  background-image: url(/tile.png);
  background-repeat: repeat;
  background-size: 30px 30px;
}

#root {
  height: 100vh;
  overflow: hidden;
}

a {
  text-decoration: none;
}
